<div id="<%= dom_id restaurant %>" class="">
  <p>
    <strong>Name:</strong>
    <%= link_to restaurant.name, restaurant, class:"link" %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>



</div>
